@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    min-width: 480px;
    max-width: 100%;
    height: 200vh;
    
}

/*emergente*/

.pos{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #633ed2;

    padding: 15px 20px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

.pos a{
    font-weight: 600;
    color: rgba(255, 255, 255, 0.856);
    transition: all 0.3s ease-in-out;
    
}

.pos:hover{
    background-color: #673DE6;
    cursor: pointer;
    
}
.pos a:hover{
    color: white;
}





/*Header*/

#header{
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 1rem;
    background-color: white;
    position: sticky;
    top: 0;
    justify-content: s;
    z-index: 90;
    
}






.img-header{
    width: 150px;
    height: auto;
}


.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/*nav*/

.ul-nav{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-inline-start: 2rem;
    text-wrap: nowrap;

}

.nav-items{
    color: rgba(0, 0, 0, 0.804);
}

.nav-items:hover{
    color: rgba(0, 0, 0, 0.543);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

/*header-right (SESION IDIOMA)*/

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.sesion{
    border: 1px solid rgba(0, 0, 0, 0.884);
    padding: .7rem;
    border-radius: 10px ;
    font-weight: bolder;
}

.sesion:hover{
    border-color: rgba(0, 0, 0, 0.543);
    cursor: pointer;
    transition: all 0.1s linear;
}
.humb img{
    width: 30px;
    height: auto;
    cursor: pointer;
    display: none;
}
@media (max-width: 960px) {
    .ul-nav{
        display: none;
    }
    .header-right a{
        display: none;
    }   
    .humb img{
        display: block;
    }
}

@media (min-width: 350px) {
    .body{
        min-width: 350px;
    }
}




/*MAIN SECCION ARTICLE CLASE 29 SEPtiembre TAREA*/


#main{
    width: 100%;
}

#article{
    min-width:  100%;
    color: white;
    background-color: #16044b;

    display: flex;
    
    align-items: center;
    flex-direction: column;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    margin-bottom: 40px;
   
} 



.title h2{
    font-size: 36px;
    padding-block-start: 70px;
    padding-block-end: 40px;
}

.title p{
    width: 60%;
    text-align: center;

}

.cartas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    
   
}
.carta{
    
    width: 350px;
    height: 250px;
    border-radius: 10px;
    background-color: #2f1c6a;
    padding: 20px;
    
}


.cartas-contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.image-carta{
    width: 35px;
    background-color: #673de6;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: 1px solidt transparent;
}

.image-carta img{
    width: 100%;
    height: auto;
    filter: invert();
    
}

.boton-section{
    display: inline-block;
    margin: 60px 0px;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #673de6;
    color: white;
    cursor: pointe
}

.boton:hover{
    background-color: #562bc1;
    transition: all 0.2s ease-out;
}


/* MAIN ____________   SECTION*/

#section{
    width: 100%;
    
    margin-top: 60px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    gap: 2rem;
}

.title-section{
    font-size: 36px;
    width: 82%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;;
    

}
.cartas-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    flex: 1;
}
.carta-2{
    width: 360px;
    height: 330px;
    border-radius: 10px;
    background-color: #f4f5ff;
    padding: 30px;
    border: 1px solid #d5dfff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.carta-contenido-2 p{
    text-align: justify;
    word-spacing: -2px;
}

.but{
    padding: 10px 30px;
    font-size: 20px;
    border: 1px solid #673de6;
    border-radius: 10px;
    color: #673de6;
    cursor: pointer;
    background-color: transparent;
    
}

.but:hover{
    background-color: #562bc124;
    transition: all 0.2s ease-out;
}

.img-carta-section{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.img-carta-section img{
    width: 48px;
    height: 48px;
}

.header-carta-info{
    display: flex;
    flex-direction: column;
    gap: 2  px;
    font-size: 14px;
}

.header-carta-info p{
    color: #888FAA;
}

.stars i{
    color: #00B090;
}

.ancla{
    color: #673DE6;
}


/*section 2*/


.sect-two{
    color: white;
    width: 100%;
    height: auto;
    background-color: #251559;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-block-start: 70px;
    align-items: center;
    text-align: center;
   
    margin-top: 40px;
}

.sect-div-one{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    margin-bottom: 40px;

}

.sect-div-one h2{
    font-size: 36px;
}


/*FOOTER-----------*/


#footer{
    width: 100%;
    
    background-color: #F4F5FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-footer{
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.nav-footer{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    padding-block: 60px;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: center;
   
    
    
}

.t{
    display: none;
}
/*footer parte navegagion responsivo para celulares*/

@media (max-width: 481px ) {

    


    .items{
        display: none;
    }

    .t{
        display: inline;
        font-size: 20px;
        cursor: pointer;
        padding-inline-start: 3rem;
    }

    .nav-footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       

        
    } 

}

/*footer parte navegacion para tablets*/

@media (max-width: 770px ) {
    .nav-footer{
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        
    }

}


.uls{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
       
}
.items a{
    color: #312520;
    font-weight: 300;
    font-size: 14px;
    transition: all 0.2s ease-out;
}

.items a:hover{
    color: #0d4c90;
    
}

/*PARTE 1 FOOTER------------------------------------------------*/

.parte1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    
}

.end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    
}


@media (max-width: 481px ) {

    .parte1{
        display: flex;
        flex-direction: column-reverse;
        
        
    }
    .end{
        
        justify-content: center;
        gap: 2rem;
    }
    .start{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}


@media (max-width: 769px ) {
    .parte1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }
    .end{
        justify-content: flex-start;
    }
}







.hola{
   font-size: 24px;
   color: white;
   padding: 4px;
   border-radius: 10px;
   
   background-color: black;
}




/*Parte 2 footer*/

.parte2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding-block: 20px;
    flex: 1;
    

}

.parte2 ul li img{
    width: 59px;
    height: 39;
    
}

.parte2 ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

.p2-ul2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
} 

.p2-ul2 li a{
    color: #312520;
    font-weight: 300;
    transition: all 0.2s ease-out;
}


@media (max-width: 962px){
    .parte2{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }
    
    .div-{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .p2-ul1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex: 1;
        flex-basis: 0;
    }

    .p2-div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        align-items: flex-start;
    
    }

    .p2-ul2{
        flex-wrap:wrap ;
        display: flex;
        flex: 1;
        flex-basis: 0;
        justify-content: flex-start;
    }


    
}






/* 
@media (max-width: 769px ) {
    .parte2{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }
    .p2-ul2{
        justify-content: center;
    }
}



@media (width: 481px){
    .p2-div{
        width: 40%;
        display: flex;
        flex-wrap: wrap;
    }
} */

   







/*PARTE 3 footer*/

.parte3{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    padding-block: 40px;
    gap: 6rem;
    /* border-top: 1px solid #D5DFFF; */
}

.parte3 :nth-child(1){
    color: #312520;
    font-size: 14px;
    font-weight: 300;
}

.parte3 :nth-child(2){
    color: #312520;
    font-size: 14px;
    font-weight: 300;
    text-align: flex-end;
}
/*linea divisoria*/
hr{
    width: 100%;
    border: 1px solid #D5DFFF;
}

@media (max-width: 962px){
    /*PARTE 3*/
    .parte3{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}















/*???*/
/* 
@media (max-width: 1167px ) {
    .parte1{
        max-width: 480px;
        display: flex;
        flex-direction: column-reverse;
       
       
        
    }
    .end{
      
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;
    }
    .start{
        
        display: flex;
        
        justify-content: flex-start;
        align-items: flex-start;
        
    }
} */



/*COPIA SECTION Y ARTICLE ULTIMA CLASE ANEXO*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


/* 
Guardar una variable en css
*/
:root{
    --ff-primary: "DM Sans", sans-serif;
    --neutral-0: #ffffff;
    --neutral-100: #f0f1f5;
    --neutral-600: #1d1e20;
    --primary-200: #cbc8ff;
    --primary-500: #673de5;
}


*{
    font-family: var(--ff-primary);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}


.title-1{
    font-size: 56px;
    font-weight: 400;
    text-align: center;
    line-height: 64px;
}

.subtitle{
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    /* letter-spacing: -1px; */
}

.paragraph{
    font-size: 16px;
    line-height: 24px;
}

.link{
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-500);
    text-decoration: none;
}

.pill{
    padding: 4px 12px;
    border-radius: 50px;
    text-align: center;
    background-color: var(--neutral-100);
}

/* 
CLASE MODIFICADORA 
*/
.pill--primary-200{
    background-color: var(--primary-200);
}

/* 
CLASES UTILITARIAS
*/
.bg-neutral-100{
    background-color: var(--neutral-100);
}


.mails-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 104px 0;
}
.section-content{
    width: 1800px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.mails-section__articles-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.feature-article{
    flex: 1;
    background-color: var(--neutral-0);
    border-radius: 16px;
    padding: 48px 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.feature-article__image{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
}
.feature-article__image img{
    width: 100%;
}

.section-header{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.feature-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feature-list .bi-check{
    color: var(--primary-500);
    font-size: 18px;
}

@media (max-width: 570px){
    .mails-section__articles-container{
        display: flex;
        flex-direction: column;
    }

    .title-1{
        font-size: 40px;
        font-weight: 400;
        line-height: none;
        text-align: center;
        text-wrap: balance;
        
    }
}